* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    /* border: 1px solid red; */
}

:root {
    --Soft-red: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    --Dark-desaturated-cyan-g-text: hsl(167, 40%, 24%);
    --Dark-blue-photography-text: hsl(198, 62%, 26%);
    --Dark-moderate-cyan-footer: hsl(168, 34%, 41%);

    --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --Very-dark-grayish-blue: hsl(213, 9%, 39%);
    --Dark-grayish-blue: hsl(232, 10%, 55%);
    --Grayish-blue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);

}


body {
    font-family: 'Barlow', sans-serif;
    font-family: 'Fraunces', serif;

}

.banner {
    background-image: url('images/desktop/image-header.jpg');
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {

    padding-top: 30px;
    padding-right: 210px;
    padding-left: 42px;
    display: flex;
    justify-content: space-between;

    font-family: 'Barlow', sans-serif;
    max-width: 100%;
    color: var(--White);
    font-weight: 400;
}

.header .logo {
    object-fit: contain;
}

.menu {
    display: flex;
    align-items: center;

}

.header #hamburger {
    display: none;
}

.menu span {

    margin-right: 15%;
    cursor: pointer;
}

.btnContact {
    border: none;
    padding: 5% 15%;
    font-size: 16px;
    font-family: 'Fraunces', serif;
    border-radius: 100px;
    cursor: pointer;
    text-transform: uppercase;


}

.main {
    color: var(--White);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-top: 25vh;
}

.main h1 {
    text-align: center;
}

.arrow {
    margin-top: 60px;

}

.section {
    background-color: var(--White);
    display: flex;
    height: 90vh;

}

.left,
.right {
    display: flex;
    flex: 0.5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
}

.left {

    justify-content: center;
    align-items: center;


}

.contentWrap {
    width: 80%;
}

.left h1 {
    color: var(--Very-dark-desaturated-blue);
    font-size: 50px;
}

.left p {
    font-family: 'Barlow', sans-serif;
    margin-top: 7%;
    font-size: 16px;
    font-weight: 600;
    color: var(--Very-dark-grayish-blue);
}

.left .btnLearn {
    margin-top: 6%;
    border: none;
    font-family: 'Fraunces', serif;
    font-size: 20px;
    background-color: white;
    cursor: pointer;
    border-bottom: 3px solid yellow;
}

.section1 .right {
    background-image: url('images/desktop/image-transform.jpg');

}

.section2 {
    flex-direction: row-reverse;
}

.section2 .right {
    background-image: url('images/desktop/image-stand-out.jpg');
}

/* section 3 */

.section3 p {
    font-family: 'Barlow', sans-serif;
}

.section3 p {
    margin: 0;
}

.section3 .left,
.section3 .right {
    flex-direction: column;
}

.section3 .left {
    background-image: url('images/desktop/image-graphic-design.jpg');
    color: var(--Dark-desaturated-cyan-g-text);
    /* justify-content: flex-end; */
}

.section3 .right {
    background-image: url('images/desktop/image-photography.jpg');
    color: var(--Dark-blue-photography-text);
    display: flex;
    justify-content: center;
    align-items: center;

}

.section3 .right h2,
.section3 .left h2 {
    /* border: 1px solid yellow; */
    margin-top: 50%;

}

.section3 .right p,
.section3 .left p {
    margin-top: 7%;
    text-align: center;
    width: 55%;
    /* border: 1px solid red; */
    height: 20%;
}

.section3 .right p {
    font-weight: 600;
}

/* testimonials */
.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    padding-top: 6%;
    padding-bottom: 6%;

}

.testimonials h3 {
    margin-bottom: 5%;
    color: var(--Dark-grayish-blue);
    text-transform: uppercase;
    letter-spacing: 5px;
}

.testimonials .clients {
    display: flex;
    justify-content: center;

}

.client {
    display: flex;
    flex: 0.3;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.imageWrap {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 12%;
}

.imageWrap img {
    width: 100%;

    object-fit: contain;

}

#clientReview {
    font-family: 'Barlow', sans-serif;
    margin-bottom: 60px;
    font-weight: 600;
    color: var(--Very-dark-desaturated-blue);
    line-height: 1.5;
    width: 80%;
    text-align: center;
}

.clientInfo {
    text-align: center;
}

.clientName {
    color: var(--Very-dark-desaturated-blue);
}

.clientInfo .clientRole {
    line-height: 3.0;
    color: var(--Dark-grayish-blue);
    font-family: 'Barlow', sans-serif;
}

/* image Gallary */

.imageGallary {
    display: flex;

}

.imgWrap {
    flex: 0.25;
}

.imageGallary .imgWrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* footer  */

.footer {
    background-color: lightgray;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footerLogo {
    width: 150px;
    object-fit: contain;
    margin-bottom: 3%;
}

.footerNav {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Barlow', sans-serif;
    display: flex;
    gap: 40%;
    margin-bottom: 5%;
    font-weight: 600;
}

.footerNav span {
    cursor: pointer;
}

.socialLinks {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40%;

}

.socialLinks span {
    cursor: pointer;
}

@media only screen and (max-width :900px) {

    body{
        z-index: 5;
    }
    /* header  */
    .header {
        justify-content: space-between;
        padding-top: 20px;
        padding-right: 5%;
        padding-left: 5%;
        position: relative;
    }

    /* nav style  */
    .hamWrap{
     cursor:pointer;
    }

 .menu {
        display: none;
       
        padding-top: 45px;
        padding-bottom:45px ;
        position: absolute;
       
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--White);
        color: var(--Very-dark-desaturated-blue);
        width: 90%;

        top: 90px;
        z-index: 9;


       
    }

    .menu span {
        margin: 0;
       
        margin-bottom: 40px;
        
        font-size: 20px;
        font-weight: 600;
       
    }

    .btnContact{
        background-color: var(--Yellow);
        font-weight: 600;
    }
    .banner {
        background-image: url('images/mobile/image-header.jpg');
    }

    .header #hamburger {
        display: block;
    }





    .main h1 {
        font-size: 50px;
    }

    .section {
        min-height: 722px;
        height: auto;
    }

    .section h1 {
        font-size: 40px;
    }

    .left .btnLearn {
        margin-top: 13%;
    }

    /* section 1 */
    .section1 .right {
        background-image: url('images/mobile/image-transform.jpg');

    }

    .section1 .contentWrap {
        text-align: center;
        line-height: 1.5;
        margin-bottom: 50px;
        margin-top: 50px;
        width: 90%;
    }

    .section1 {
        height: 730px;
        flex-direction: column-reverse;

    }

    .section1 .left,
    .section1 .right {
        flex: 1;
    }

    /* section 2 */
    .section2 {
        margin-bottom: 35px;
    }

    .section2 .right {
        background-image: url('images/mobile/image-stand-out.jpg');
    }

    .section2 {
        flex-direction: column-reverse;
        height: 700px;
        margin-bottom: 50px;
    }

    .section2 .contentWrap {
        text-align: center;
        line-height: 1.5;
        width: 90%;
        margin-top: 50px;
    }

    /* section 3 */

    .section3 .left p,
    .section3 .right p {
        width: 90%;
        margin-bottom: 90px;
        line-height: 1.5;
    }

    .section3 .left {
        background-image: url('images/mobile/image-graphic-design.jpg');
        justify-content: flex-end;

    }

    .section3 .right {
        background-image: url('images/mobile/image-photography.jpg');
        justify-content: flex-end;


    }

    .section3 {
        flex-direction: column;
    }

    .section3 .left,
    .section3 .right {
        flex: 1;
        min-height: inherit;
    }

    /* testimonials  */
    .testimonials {
        height: auto;
        padding: 15% 0;
        /* background-color: yellowgreen; */
    }

    .testimonials h3 {
        margin-bottom: 15%;
        text-align: center;
    }

    .clients {
        flex-direction: column;
        /* background-color: antiquewhite; */
    }

    .client:not(:last-child) {
        margin-bottom: 50px;
    }



    #clientReview {
        width: 90%;

    }


    /* image gallary  */
    .imageGallary {
        display: flex;
        height: auto;
        flex-wrap: wrap;


    }

    .imageWrap {
        margin-bottom: 50px;
    }

    .imgWrap {

        flex-basis: 50%;


    }

    /* footer  */

    .footer {
        height: auto;
        padding-top: 50px;
        padding-bottom: 70px;

    }

    .footerLogo {
        margin-bottom: 40px;
    }

    .footerNav {
        margin-bottom: 60px;
    }

    .socialLinks span{
        margin-right: 10%;
    }


}